In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import gmaps
import requests
import matplotlib.pyplot as plt
import statistics
import numpy as np
from matplotlib.ticker import MultipleLocator

In [2]:
order_data_df = pd.read_csv("aha_orders.csv")
order_data_df.columns

/Users/joshdaniels/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (7,8,18,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['Order ID', 'Order Date', 'Ordered By', 'Ship to Name',
       'Ship to Address', 'Ship to City', 'Ship to State', 'Ship to Zip Code',
       'Ship to Phone', 'Ship to Email', 'Order Status', 'Order Total',
       'Payment Type', 'Shipped', 'Product Details', 'Product SKU',
       'Product Qty', 'Product Price', 'Phone', 'Email', 'Address', 'City',
       'State', 'Zip', 'Country'],
      dtype='object')

In [3]:
order_data_df["Product Details"]

0        LG Appliances 26 cu. ft. Bottom Freezer Refrig...
1        5 Years Extended Warranty for LG Appliances LR...
2        Haul Away & Recycling of Old Appliance for LG ...
3        Frigidaire  7.0 Cu. Ft. Chest Freezer (FFCS072...
4        Whirlpool 7.0 cu. ft. Top Load Electric Dryer ...
                               ...
67711                 Amana  NGD4700YQ 7.0 Cu Ft Gas Dryer
67712    Dacor EPICURE&trade; EF36BNNFSS 36" French Doo...
67713               Electrolux  EI15TC65HS Trash Compactor
67714    Frigidaire  FFHS2622MS 26' Dispenser Refrigerator
67715    Fisher & Paykel DISHDRAWER&reg; DD24DCHTX7 Dou...
Name: Product Details, Length: 67716, dtype: object

In [4]:
order_data_df = order_data_df.fillna(0)
order_data_df

,Order ID,Order Date,Ordered By,Ship to Name,Ship to Address,Ship to City,Ship to State,Ship to Zip Code,Ship to Phone,Ship to Email,...,Product SKU,Product Qty,Product Price,Phone,Email,Address,City,State,Zip,Country
0,35874,"Oct 28th, 2021",Bryan Holbrook,Bryan Holbrook,470 Prospect Ave,Felton,CA,95018.0,9258999451.0,bryholbrook@gmail.com,...,LRDCS2603S,1.0,$1439.79,9258999451,bryholbrook@gmail.com,470 Prospect Ave,Felton,CA,95018,US
1,35874,"Oct 28th, 2021",Bryan Holbrook,Bryan Holbrook,470 Prospect Ave,Felton,CA,95018.0,9258999451.0,bryholbrook@gmail.com,...,ESP-R,1.0,$239.99,9258999451,bryholbrook@gmail.com,470 Prospect Ave,Felton,CA,95018,US
2,35874,"Oct 28th, 2021",Bryan Holbrook,Bryan Holbrook,470 Prospect Ave,Felton,CA,95018.0,9258999451.0,bryholbrook@gmail.com,...,HAULAWAY-MOVE,1.0,$24.95,9258999451,bryholbrook@gmail.com,470 Prospect Ave,Felton,CA,95018,US
3,35873,"Oct 28th, 2021",Paul Huber,Micah Garside-White,3460 Newport Common,Fremont,CA,94538.0,8055587614.0,Micah.garsidewhite@gmail.com,...,FFCS0722AW,1.0,$259.78,4155776726,Paul.huber@compass.com,59 Twin Peaks Blvd,San Francisco,CA,94114,US
4,35872,"Oct 28th, 2021",bill martyn,bill martyn,742 shoemaker dr,livermore,CA,94551.0,9253518645.0,bartyn@comcast.net,...,WED4950HW,1.0,$539.78,9253518645,bartyn@comcast.net,742 shoemaker dr,livermore,CA,94551,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67711,3,"Apr 19th, 2013",Jennifer Danko,,,0,0,0,0,0,...,NGD4700YQ,1.0,$476.99,(877) 449-1069,jennifer@siteontime.com,621 Washington St A4,Gainesville,GA,30501,US
67712,3,"Apr 19th, 2013",Jennifer Danko,,,0,0,0,0,0,...,EF36BNNFSS,1.0,$0.00,(877) 449-1069,jennifer@siteontime.com,621 Washington St A4,Gainesville,GA,30501,US
67713,2,"Apr 19th, 2013",Jennifer Danko,,,0,0,0,0,0,...,EI15TC65HS,1.0,$989.10,(877) 449-1069,jennifer@siteontime.com,621 Washington St A4,Gainesville,GA,30501,US
67714,1,"Apr 19th, 2013",Jennifer Danko,,,0,0,0,0,0,...,FFHS2622MS,1.0,$1199.00,(877) 449-1069,support@siteontime.com,308 Parthenia Dr,Demorest,GA,30535,US
67715,1,"Apr 19th, 2013",Jennifer Danko,,,0,0,0,0,0,...,DD24DCHTX7,1.0,$1399.00,(877) 449-1069,support@siteontime.com,308 Parthenia Dr,Demorest,GA,30535,US

In [6]:

outlet_orders = order_data_df.loc[order_data_df['Product Details'].str.contains("OUTLET", case=False)]
outlet_orders.head(207)

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [ ]:
pd.set_option("display.max_colwidth", None)

In [7]:
outlet_orders

NameError: name 'outlet_orders' is not defined

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
outlet_orders

In [ ]:
outlet_orders.dtypes

In [ ]:
outlet_orders['Order Date'] = pd.to_datetime(outlet_orders['Order Date'])

In [ ]:
outlet_orders["Product Details"]

In [ ]:
outlet_orders_prev_feb_21 = outlet_orders.loc[outlet_orders['Order Date'] < '2021-02-21']

In [ ]:
outlet_orders_prev_feb_21.count()

In [ ]:
outlet_orders_after_feb_21 = outlet_orders.loc[outlet_orders['Order Date'] > '2021-02-21']
outlet_orders_after_feb_21

In [ ]:
outlet_orders['Order Total'] = outlet_orders['Order Total'].str.replace(',', '')
outlet_orders['Order Total'] = outlet_orders['Order Total'].str.replace('$', '')
outlet_orders['Order Total'] = pd.to_numeric(outlet_orders['Order Total'])

In [ ]:


total_orders = outlet_orders.groupby(["Order Date"])["Order Total"].sum()
Order_ID = outlet_orders["Order ID"].count()



orders_plot_df = pd.DataFrame({
    "Total Orders": total_orders
    })

orders_plot_df

In [ ]:
orders_plot_df = orders_plot_df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
orders_pivot = orders_plot_df.pivot(index="Order Date",columns='Order ID',values="Total Orders")
orders_pivot.head(10)

In [ ]:
orders_pivot.index = pd.to_datetime(orders_pivot.index)

In [ ]:
orders_pivot.info()

In [ ]:
sum_orders_month = orders_pivot.resample("M").sum()
sum_orders_month

In [ ]:
outlet_orders_after_feb_21.count()

In [ ]:
x_axis = ["Jan", "Feb", "Mar", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]
y_axis =

In [ ]:
monthly_outlet_orders = sum_orders_month.plot(figsize = (20,6))
monthly_outlet_orders.set_title("Total Outlet Sales By Month")
#  Add a x- and y-axis label.
monthly_outlet_orders.set_xlabel("Order Date")
monthly_outlet_orders.set_ylabel("Total Orders")

plt.show()
plt.tight_layout()

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')